# Projeto Final

## Alunos

Victor Jurdi

Lucas Ohara

In [16]:
import pandas as pd
from math import *
import matplotlib.pyplot as plt

## Introdução

## Leitura e liempeza do Database

In [17]:
fifa = pd.read_csv("Fifa.csv")

fifa.head()

C:\Users\victo\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,1,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,2,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,3,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,4,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
fifa1 = fifa.drop(columns=['Unnamed: 0', 'Photo', 'Flag', 'Club Logo'])
fifa1

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Acceleration,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,€95.5M,€565K,2228,89,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,L. Messi,30,Argentina,93,93,FC Barcelona,€105M,€565K,2154,92,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,Neymar,25,Brazil,92,94,Paris Saint-Germain,€123M,€280K,2100,94,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,L. Suárez,30,Uruguay,92,92,FC Barcelona,€97M,€510K,2291,88,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,M. Neuer,31,Germany,92,92,FC Bayern Munich,€61M,€230K,1493,58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,€92M,€355K,2143,79,...,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0
6,De Gea,26,Spain,90,92,Manchester United,€64.5M,€215K,1458,57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,E. Hazard,26,Belgium,90,91,Chelsea,€90.5M,€295K,2096,93,...,59.0,47.0,81.0,61.0,87.0,87.0,82.0,88.0,64.0,82.0
8,T. Kroos,27,Germany,90,90,Real Madrid CF,€79M,€340K,2165,60,...,76.0,72.0,87.0,82.0,81.0,81.0,77.0,80.0,78.0,77.0
9,G. Higuaín,29,Argentina,90,90,Juventus,€77M,€275K,1961,78,...,51.0,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0
10,Sergio Ramos,31,Spain,90,90,Real Madrid CF,€52M,€310K,2153,75,...,84.0,87.0,74.0,83.0,70.0,71.0,72.0,69.0,81.0,72.0
11,K. De Bruyne,26,Belgium,89,92,Manchester City,€83M,€285K,2162,76,...,66.0,57.0,84.0,70.0,85.0,85.0,81.0,85.0,71.0,81.0
12,T. Courtois,25,Belgium,89,92,Chelsea,€59M,€190K,1282,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,A. Sánchez,28,Chile,89,89,Arsenal,€67.5M,€265K,2181,88,...,62.0,56.0,79.0,64.0,85.0,85.0,83.0,86.0,66.0,83.0
14,L. Modrić,31,Croatia,89,89,Real Madrid CF,€57M,€340K,2228,75,...,78.0,72.0,86.0,80.0,83.0,84.0,76.0,83.0,80.0,76.0
15,G. Bale,27,Wales,89,89,Real Madrid CF,€69.5M,€370K,2263,93,...,72.0,67.0,81.0,71.0,87.0,87.0,87.0,87.0,74.0,87.0
16,S. Agüero,29,Argentina,89,89,Manchester City,€66.5M,€325K,2074,90,...,52.0,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0
17,G. Chiellini,32,Italy,89,89,Juventus,€38M,€225K,1867,68,...,78.0,86.0,60.0,76.0,55.0,58.0,59.0,56.0,75.0,59.0
18,G. Buffon,39,Italy,89,89,Juventus,€4.5M,€110K,1335,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,P. Dybala,23,Argentina,88,93,Juventus,€79M,€215K,2063,88,...,55.0,43.0,78.0,55.0,86.0,86.0,83.0,87.0,60.0,83.0
20,J. Oblak,24,Slovenia,88,93,Atlético Madrid,€57M,€82K,1290,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,A. Griezmann,26,France,88,91,Atlético Madrid,€75M,€150K,2104,87,...,56.0,48.0,76.0,57.0,85.0,84.0,85.0,86.0,60.0,85.0
22,Thiago,26,Spain,88,90,FC Bayern Munich,€70.5M,€225K,2185,77,...,72.0,66.0,85.0,76.0,83.0,83.0,77.0,83.0,75.0,77.0
23,P. Aubameyang,28,Gabon,88,88,Borussia Dortmund,€61M,€165K,2078,95,...,62.0,52.0,74.0,59.0,84.0,83.0,85.0,84.0,65.0,85.0
24,L. Bonucci,30,Italy,88,88,Milan,€44M,€210K,1995,62,...,79.0,86.0,75.0,83.0,66.0,66.0,65.0,63.0,76.0,65.0
25,J. Boateng,28,Germany,88,88,FC Bayern Munich,€48M,€215K,1989,72,...,81.0,85.0,73.0,82.0,66.0,69.0,65.0,65.0,79.0,65.0
26,D. Godín,31,Uruguay,88,88,Atlético Madrid,€40M,€125K,1930,62,...,79.0,86.0,69.0,80.0,62.0,63.0,64.0,61.0,76.0,64.0
27,M. Hummels,28,Germany,88,88,FC Bayern Munich,€48M,€215K,2038,62,...,80.0,85.0,77.0,83.0,69.0,70.0,69.0,68.0,78.0,69.0
28,M. Özil,28,Germany,88,88,Arsenal,€60M,€265K,1927,75,...,52.0,41.0,79.0,57.0,82.0,83.0,76.0,83.0,58.0,76.0
29,H. Lloris,30,France,88,88,Tottenham Hotspur,€38M,€165K,1318,65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17951,M. Hurst,21,Scotland,48,58,St. Johnstone FC,€40K,€1K,991,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17952,A. Osmanoski,17,FYR Macedonia,48,68,SpVgg Unterhaching,€60K,€1K,1377,68,...,47.0,46.0,47.0,47.0,47.0,48.0,46.0,47.0,47.0,46.0
17953,K. Cotter,18,England,48,67,Luton Town,€60K,€1K,1329,67,...,47.0,44.0,47.0,46.0,45.0,48.0,44.0,46.0,48.0,44.0
17954,T. Robinson,19,England,48,64,Bradford City,€60K,€1K,1257,69,...,37.0,32.0,41.0,35.0,45.0,47.0,45.0,47.0,39.0,45.0
17955,R. Hughes,18,Scotland,48,63,Hamilton Academical FC,€60K,€1K,1330,59,...,47.0,48.0,47.0,48.0,46.0,47.0,44.0,46.0,47.0,44.0
17956,Z. Mohammed,17,England,48,64,Accrington Stanley,€50K,€1K,1167,62,...,44.0,47.0,33.0,41.0,32.0,34.0,34.0,33.0,42.0,34.0
17957,D. Peppard,17,Republic of Ireland,47,61,Bohemian FC,€50K,€1K,1199,56,...,46.0,45.0,41.0,45.0,39.0,42.0,37.0,40.0,46.0,37.0
17958,C. Rogers,17,Republic of Ireland,47,59,Bray Wanderers,€40K,€1K,1189,60,...,46.0,47.0,36.0,43.0,35.0,37.0,37.0,35.0,44.0,37.0
17959,N. McLaughlin,18,Scotland,47,64,Partick Thistle F.C.,€60K,€1K,1330,69,...,43.0,40.0,46.0,44.0,47.0,48.0,46.0,47.0,44.0,46.0
17960,L. Kiely,18,Republic of Ireland,47,69,Shamrock Rovers,€70K,€1K,1290,43,...,41.0,41.0,45.0,43.0,44.0,45.0,42.0,44.0,41.0,42.0
17961,J. Latibeaudiere,17,England,47,73,Manchester City,€60K,€5K,1132,57,...,45.0,46.0,35.0,42.0,32.0,35.0,32.0,32.0,43.0,32.0
17962,J. Payne,18,England,47,63,Barnet,€50K,€1K,1219,65,...,46.0,46.0,35.0,40.0,36.0,39.0,36.0,38.0,45.0,36.0
17963,G. Manley,19,Republic of Ireland,47,58,Cork City,€50K,€1K,1298,57,...,46.0,48.0,46.0,48.0,42.0,44.0,41.0,42.0,46.0,41.0
17964,P. Phillips,18,Republic of Ireland,47,67,Cork City,€60K,€1K,1297,56,...,47.0,48.0,46.0,48.0,43.0,44.0,41.0,42.0,46.0,41.0
17965,A. Byrne,18,Republic of Ireland,47,61,Cork City,€60K,€1K,1346,58,...,46.0,43.0,46.0,46.0,46.0,47.0,44.0,45.0,46.0,44.0
17966,K. Fujikawa,18,Japan,47,67,Júbilo Iwata,€60K,€1K,1317,59,...,46.0,47.0,46.0,47.0,43.0,45.0,40.0,44.0,46.0,40.0
17967,K. Egan,19,England,47,67,Exeter City,€60K,€1K,1225,63,...,46.0,46.0,37.0,41.0,38.0,42.0,37.0,42.0,46.0,37.0
17968,T. Brownsword,17,England,47,68,Morecambe,€60K,€1K,1143,55,...,45.0,46.0,32.0,40.0,32.0,34.0,33.0,32.0,43.0,33.0
17969,F. Prohart,18,Austria,47,67,Wolfsberger AC,€60K,€1K,1238,62,...,33.0,27.0,41.0,31.0,48.0,47.0,46.0,49.0,35.0,46.0
17970,A. Kilgour,19,England,47,56,Bristol Rovers,€40K,€1K,1208,52,...,43.0,46.0,38.0,43.0,37.0,38.0,38.0,37.0,42.0,38.0
17971,R. White,18,England,47,65,Bolton Wanderers,€60K,€2K,1265,51,...,33.0,32.0,42.0,33.0,49.0,46.0,52.0,47.0,34.0,52.0
17972,A. Conway,19,Republic of Ireland,47,63,Galway United,€60K,€1K,1314,60,...,46.0,45.0,41.0,43.0,42.0,44.0,42.0,44.0,46.0,42.0
17973,T. Sawyer,18,England,46,58,Grimsby Town,€50K,€1K,1267,65,...,45.0,42.0,45.0,43.0,46.0,47.0,45.0,47.0,46.0,45.0
17974,J. Keeble,18,England,46,56,Grimsby Town,€40K,€1K,1105,66,...,46.0,45.0,34.0,41.0,33.0,35.0,33.0,34.0,44.0,33.0
17975,T. Käßemodel,28,Germany,46,46,FC Erzgebirge Aue,€30K,€1K,1174,25,...,37.0,38.0,45.0,42.0,42.0,42.0,41.0,41.0,38.0,41.0
17976,A. Kelsey,17,England,46,63,Scunthorpe United,€50K,€1K,755,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17977,B. Richardson,47,England,46,46,Wycombe Wanderers,€0,€1K,832,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17978,J. Young,17,Scotland,46,61,Swindon Town,€60K,€1K,1194,66,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
17979,J. Lundstram,18,England,46,64,Crewe Alexandra,€60K,€1K,1302,57,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0
17980,L. Sackey,18,Ghana,46,64,Scunthorpe United,€50K,€1K,1031,48,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0

In [19]:
fifa1.describe()

,Age,Overall,Potential,Special,CAM,CB,CDM,CF,CM,ID,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
count,17981.000000,17981.000000,17981.000000,17981.000000,15952.000000,15952.000000,15952.000000,15952.000000,15952.000000,17981.000000,...,15952.000000,15952.000000,15952.000000,15952.000000,15952.000000,15952.000000,15952.000000,15952.000000,15952.000000,15952.000000
mean,25.144541,66.247984,71.190813,1594.095100,59.251755,55.550464,56.865283,59.030028,58.506833,207658.710138,...,56.979689,55.550464,58.506833,56.865283,59.030028,60.057736,58.204050,59.359265,57.698721,58.204050
std,4.614272,6.987965,6.102199,272.151435,9.880164,12.192579,10.310178,9.926988,8.888040,32291.667313,...,9.791627,12.192579,8.888040,10.310178,9.926988,9.349180,9.181392,9.978084,9.142825,9.181392
min,16.000000,46.000000,46.000000,728.000000,27.000000,25.000000,26.000000,27.000000,30.000000,16.000000,...,30.000000,25.000000,30.000000,26.000000,27.000000,28.000000,31.000000,26.000000,31.000000,31.000000
25%,21.000000,62.000000,67.000000,1449.000000,53.000000,45.000000,49.000000,53.000000,53.000000,192622.000000,...,50.000000,45.000000,53.000000,49.000000,53.000000,54.000000,52.000000,53.000000,51.000000,52.000000
50%,25.000000,66.000000,71.000000,1633.000000,60.000000,57.000000,58.000000,60.000000,59.000000,214057.000000,...,58.000000,57.000000,59.000000,58.000000,60.000000,61.000000,59.000000,60.000000,58.000000,59.000000
75%,28.000000,71.000000,75.000000,1786.000000,66.000000,65.000000,65.000000,66.000000,65.000000,231448.000000,...,64.000000,65.000000,65.000000,65.000000,66.000000,67.000000,65.000000,66.000000,64.000000,65.000000
max,47.000000,94.000000,94.000000,2291.000000,92.000000,87.000000,85.000000,92.000000,87.000000,241219.000000,...,84.000000,87.000000,87.000000,85.000000,92.000000,90.000000,92.000000,91.000000,84.000000,92.000000

In [20]:
fifa2=fifa1.dropna()

In [21]:
valores=[]
for e in fifa2['Value']:
    if 'M' in e:
        
        M=float(e.replace('M','')[1:])*1000000
        valores.append(M)
    elif 'K' in e:
        
        K=(e.replace('K',"")[1:])*1000
        valores.append(K)
        
    else:
        valores.append(e)

fifa2['Value1']=valores
    
fifa2.replace(fifa2['Value'],fifa2['Value1'])
    
fifa2.drop(columns=['Value'])

C:\Users\victo\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Name,Age,Nationality,Overall,Potential,Club,Wage,Special,Acceleration,Aggression,...,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST,Value1
0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,€565K,2228,89,63,...,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0,9.55e+07
1,L. Messi,30,Argentina,93,93,FC Barcelona,€565K,2154,92,48,...,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0,1.05e+08
2,Neymar,25,Brazil,92,94,Paris Saint-Germain,€280K,2100,94,56,...,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0,1.23e+08
3,L. Suárez,30,Uruguay,92,92,FC Barcelona,€510K,2291,88,78,...,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0,9.7e+07
5,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,€355K,2143,79,80,...,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0,9.2e+07
7,E. Hazard,26,Belgium,90,91,Chelsea,€295K,2096,93,54,...,47.0,81.0,61.0,87.0,87.0,82.0,88.0,64.0,82.0,9.05e+07
8,T. Kroos,27,Germany,90,90,Real Madrid CF,€340K,2165,60,60,...,72.0,87.0,82.0,81.0,81.0,77.0,80.0,78.0,77.0,7.9e+07
9,G. Higuaín,29,Argentina,90,90,Juventus,€275K,1961,78,50,...,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0,7.7e+07
10,Sergio Ramos,31,Spain,90,90,Real Madrid CF,€310K,2153,75,84,...,87.0,74.0,83.0,70.0,71.0,72.0,69.0,81.0,72.0,5.2e+07
11,K. De Bruyne,26,Belgium,89,92,Manchester City,€285K,2162,76,68,...,57.0,84.0,70.0,85.0,85.0,81.0,85.0,71.0,81.0,8.3e+07
13,A. Sánchez,28,Chile,89,89,Arsenal,€265K,2181,88,80,...,56.0,79.0,64.0,85.0,85.0,83.0,86.0,66.0,83.0,6.75e+07
14,L. Modrić,31,Croatia,89,89,Real Madrid CF,€340K,2228,75,62,...,72.0,86.0,80.0,83.0,84.0,76.0,83.0,80.0,76.0,5.7e+07
15,G. Bale,27,Wales,89,89,Real Madrid CF,€370K,2263,93,65,...,67.0,81.0,71.0,87.0,87.0,87.0,87.0,74.0,87.0,6.95e+07
16,S. Agüero,29,Argentina,89,89,Manchester City,€325K,2074,90,63,...,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0,6.65e+07
17,G. Chiellini,32,Italy,89,89,Juventus,€225K,1867,68,92,...,86.0,60.0,76.0,55.0,58.0,59.0,56.0,75.0,59.0,3.8e+07
19,P. Dybala,23,Argentina,88,93,Juventus,€215K,2063,88,48,...,43.0,78.0,55.0,86.0,86.0,83.0,87.0,60.0,83.0,7.9e+07
21,A. Griezmann,26,France,88,91,Atlético Madrid,€150K,2104,87,69,...,48.0,76.0,57.0,85.0,84.0,85.0,86.0,60.0,85.0,7.5e+07
22,Thiago,26,Spain,88,90,FC Bayern Munich,€225K,2185,77,57,...,66.0,85.0,76.0,83.0,83.0,77.0,83.0,75.0,77.0,7.05e+07
23,P. Aubameyang,28,Gabon,88,88,Borussia Dortmund,€165K,2078,95,43,...,52.0,74.0,59.0,84.0,83.0,85.0,84.0,65.0,85.0,6.1e+07
24,L. Bonucci,30,Italy,88,88,Milan,€210K,1995,62,82,...,86.0,75.0,83.0,66.0,66.0,65.0,63.0,76.0,65.0,4.4e+07
25,J. Boateng,28,Germany,88,88,FC Bayern Munich,€215K,1989,72,82,...,85.0,73.0,82.0,66.0,69.0,65.0,65.0,79.0,65.0,4.8e+07
26,D. Godín,31,Uruguay,88,88,Atlético Madrid,€125K,1930,62,86,...,86.0,69.0,80.0,62.0,63.0,64.0,61.0,76.0,64.0,4e+07
27,M. Hummels,28,Germany,88,88,FC Bayern Munich,€215K,2038,62,66,...,85.0,77.0,83.0,69.0,70.0,69.0,68.0,78.0,69.0,4.8e+07
28,M. Özil,28,Germany,88,88,Arsenal,€265K,1927,75,48,...,41.0,79.0,57.0,82.0,83.0,76.0,83.0,58.0,76.0,6e+07
30,Thiago Silva,32,Brazil,88,88,Paris Saint-Germain,€175K,2124,70,77,...,85.0,77.0,83.0,69.0,70.0,67.0,68.0,79.0,67.0,3.4e+07
31,Z. Ibrahimović,35,Sweden,88,88,Manchester United,€240K,2075,63,84,...,52.0,78.0,60.0,83.0,80.0,84.0,82.0,58.0,84.0,2.7e+07
32,A. Robben,33,Netherlands,88,88,FC Bayern Munich,€225K,2081,87,47,...,47.0,78.0,59.0,86.0,85.0,82.0,87.0,63.0,82.0,3.6e+07
33,N. Kanté,26,France,87,90,Chelsea,€190K,2154,82,90,...,81.0,81.0,84.0,76.0,78.0,72.0,76.0,83.0,72.0,5.25e+07
34,M. Verratti,24,Italy,87,91,Paris Saint-Germain,€130K,2154,69,89,...,77.0,85.0,84.0,77.0,80.0,69.0,78.0,80.0,69.0,6.45e+07
35,P. Pogba,24,France,87,92,Manchester United,€195K,2238,72,75,...,74.0,84.0,79.0,83.0,83.0,81.0,82.0,77.0,81.0,6.65e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17947,E. Hughes,18,Northern Ireland,48,56,Dundalk,€1K,1257,55,50,...,48.0,39.0,44.0,39.0,42.0,38.0,41.0,47.0,38.0,3030303030303030303030303030303030303030303030...
17948,R. Roache,17,Republic of Ireland,48,69,Blackpool,€1K,1178,54,25,...,27.0,38.0,29.0,45.0,43.0,47.0,44.0,32.0,47.0,7070707070707070707070707070707070707070707070...
17950,D. Amos,17,England,48,74,Doncaster Rovers,€1K,1398,59,51,...,47.0,47.0,47.0,46.0,48.0,44.0,47.0,48.0,44.0,6060606060606060606060606060606060606060606060...
17952,A. Osmanoski,17,FYR Macedonia,48,68,SpVgg Unterhaching,€1K,1377,68,53,...,46.0,47.0,47.0,47.0,48.0,46.0,47.0,47.0,46.0,6060606060606060606060606060606060606060606060...
17953,K. Cotter,18,England,48,67,Luton Town,€1K,1329,67,53,...,44.0,47.0,46.0,45.0,48.0,44.0,46.0,48.0,44.0,6060606060606060606060606060606060606060606060...
17954,T. Robinson,19,England,48,64,Bradford City,€1K,1257,69,26,...,32.0,41.0,35.0,45.0,47.0,45.0,47.0,39.0,45.0,6060606060606060606060606060606060606060606060...
17955,R. Hughes,18,Scotland,48,63,Hamilton Academical FC,€1K,1330,59,57,...,48.0,47.0,48.0,46.0,47.0,44.0,46.0,47.0,44.0,6060606060606060606060606060606060606060606060...
17956,Z. Mohammed,17,England,48,64,Accrington Stanley,€1K,1167,62,41,...,47.0,33.0,41.0,32.0,34.0,34.0,33.0,42.0,34.0,5050505050505050505050505050505050505050505050...
17957,D. Peppard,17,Republic of Ireland,47,61,Bohemian FC,€1K,1199,56,59,...,45.0,41.0,45.0,39.0,42.0,37.0,40.0,46.0,37.0,5050505050505050505050505050505050505050505050...
17958,C. Rogers,17,Republic of Ireland,47,59,Bray Wanderers,€1K,1189,60,41,...,47.0,36.0,43.0,35.0,37.0,37.0,35.0,44.0,37.0,4040404040404040404040404040404040404040404040...
17959,N. McLaughlin,18,Scotland,47,64,Partick Thistle F.C.,€1K,1330,69,52,...,40.0,46.0,44.0,47.0,48.0,46.0,47.0,44.0,46.0,6060606060606060606060606060606060606060606060...
17960,L. Kiely,18,Republic of Ireland,47,69,Shamrock Rovers,€1K,1290,43,47,...,41.0,45.0,43.0,44.0,45.0,42.0,44.0,41.0,42.0,7070707070707070707070707070707070707070707070...
17961,J. Latibeaudiere,17,England,47,73,Manchester City,€5K,1132,57,45,...,46.0,35.0,42.0,32.0,35.0,32.0,32.0,43.0,32.0,6060606060606060606060606060606060606060606060...
17962,J. Payne,18,England,47,63,Barnet,€1K,1219,65,43,...,46.0,35.0,40.0,36.0,39.0,36.0,38.0,45.0,36.0,5050505050505050505050505050505050505050505050...
17963,G. Manley,19,Republic of Ireland,47,58,Cork City,€1K,1298,57,59,...,48.0,46.0,48.0,42.0,44.0,41.0,42.0,46.0,41.0,5050505050505050505050505050505050505050505050...
17964,P. Phillips,18,Republic of Ireland,47,67,Cork City,€1K,1297,56,51,...,48.0,46.0,48.0,43.0,44.0,41.0,42.0,46.0,41.0,6060606060606060606060606060606060606060606060...
17965,A. Byrne,18,Republic of Ireland,47,61,Cork City,€1K,1346,58,54,...,43.0,46.0,46.0,46.0,47.0,44.0,45.0,46.0,44.0,6060606060606060606060606060606060606060606060...
17966,K. Fujikawa,18,Japan,47,67,Júbilo Iwata,€1K,1317,59,55,...,47.0,46.0,47.0,43.0,45.0,40.0,44.0,46.0,40.0,6060606060606060606060606060606060606060606060...
17967,K. Egan,19,England,47,67,Exeter City,€1K,1225,63,51,...,46.0,37.0,41.0,38.0,42.0,37.0,42.0,46.0,37.0,6060606060606060606060606060606060606060606060...
17968,T. Brownsword,17,England,47,68,Morecambe,€1K,1143,55,47,...,46.0,32.0,40.0,32.0,34.0,33.0,32.0,43.0,33.0,6060606060606060606060606060606060606060606060...
17969,F. Prohart,18,Austria,47,67,Wolfsberger AC,€1K,1238,62,27,...,27.0,41.0,31.0,48.0,47.0,46.0,49.0,35.0,46.0,6060606060606060606060606060606060606060606060...
17970,A. Kilgour,19,England,47,56,Bristol Rovers,€1K,1208,52,56,...,46.0,38.0,43.0,37.0,38.0,38.0,37.0,42.0,38.0,4040404040404040404040404040404040404040404040...
17971,R. White,18,England,47,65,Bolton Wanderers,€2K,1265,51,33,...,32.0,42.0,33.0,49.0,46.0,52.0,47.0,34.0,52.0,6060606060606060606060606060606060606060606060...
17972,A. Conway,19,Republic of Ireland,47,63,Galway United,€1K,1314,60,44,...,45.0,41.0,43.0,42.0,44.0,42.0,44.0,46.0,42.0,6060606060606060606060606060606060606060606060...
17973,T. Sawyer,18,England,46,58,Grimsby Town,€1K,1267,65,43,...,42.0,45.0,43.0,46.0,47.0,45.0,47.0,46.0,45.0,5050505050505050505050505050505050505050505050...
17974,J. Keeble,18,England,46,56,Grimsby Town,€1K,1105,66,40,...,45.0,34.0,41.0,33.0,35.0,33.0,34.0,44.0,33.0,4040404040404040404040404040404040404040404040...
17975,T. Käßemodel,28,Germany,46,46,FC Erzgebirge Aue,€1K,1174,25,52,...,38.0,45.0,42.0,42.0,42.0,41.0,41.0,38.0,41.0,3030303030303030303030303030303030303030303030...
17978,J. Young,17,Scotland,46,61,Swindon Town,€1K,1194,66,26,...,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0,6060606060606060606060606060606060606060606060...
17979,J. Lundstram,18,England,46,64,Crewe Alexandra,€1K,1302,57,46,...,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0,6060606060606060606060606060606060606060606060...
17980,L. Sackey,18,Ghana,46,64,Scunthorpe United,€1K,1031,48,52,...,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0,5050505050505050505050505050505050505050505050...